<html>
<title>Home Page</title>
<body>
<h1>Private pages</h1>
<a href="/web/restricted/page1">PAGE1 (PAGE1 authority required)</a><br>
<a href="/web/restricted/page2">PAGE2 (PAGE2 authority required)</a><br>
<a href="/web/restricted/page3">PAGE3 (PAGE3 authority required)</a><br>

<br/>
<br/>

<form name="logout_form" id="logout_form" method="post" action="/web/logout">
    <input type="submit" value="Logout" id="perform_logout_button">
</form>

</body>
</html>