<html>
<title>Hello Page</title>
<body>
<h1>Hello {{username}}</h1>

<br/>
<br/>

<form name="logout_form" id="logout_form" method="post" action="/web/logout">
    <input type="submit" value="Logout" id="perform_logout_button">
</form>

</body>
</html>